@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  overflow: auto;
}

#cover {
  display: flex;
  justify-content: center;
  overflow: auto;

}

#filter {
  /* background-color: rgba(154, 161, 169, 0.748); */
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  overflow: auto;
}

#card {
  /* background-color: rgba(0, 0, 0, 0.699); */
  width: 800px;
  height: 410px;
  margin-top: 2%;
  position: absolute;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}

.nameCont {
  display: flex;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

#name {
  margin-left: auto;
  margin-right: auto;
  color: black;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}

ul {
  list-style: none;
}

#bStatement {
  color: black;

  text-align: center;
}

#loginVideo {
  position: fixed;
  height: 100%;

  z-index: 0;
}

#headshot {
  width: 30%;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 30px;
  transition: 0.3s ease-in-out;
}

.photo {
  display: flex;
  justify-content: center;
}

#contCont {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  transition: 0.3s ease-in-out;
}

.infoButtons {
  margin-top: -5%;
  margin-bottom: 30px;
  border: 0px solid black;
  font-size: 20px;
  background-color: transparent;
  width: auto;
  background: linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, black, black, black);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.infoButtons:hover,
.infoButtons:focus {
  background-size: 0 0.1em, 100% 0.1em;
  cursor: pointer;
}

#gitHub {
  width: 70px;
  margin-top: 13px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.3s ease-in-out;
}

#linkedIn {
  width: 50px;
  margin-right: 10px;
  transition: 0.3s ease-in-out;
}

#gmail {
  width: 50px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
}
#bioBlock {
  display: flex;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

#aboutMeText {
  display: none;
  justify-content: center;
  transition: 0.3s ease-in-out;
  text-align: left;
  width: 460px;
}

#projectsPage {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    
}

.title {
    font-size: 20px;
    text-decoration: underline;
    list-style: none;
}

#globeTrotters {
    display: none;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.114);
    color: black;
    border-radius: 8px;
    margin: 5px;
}

#globeTrottersImg {
    width: 300px;
    border-radius: 8px;
    margin-left: 50px;
    margin-top: 20px;
}

#skiResort {
    display: none;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.114);
    color: black;
    border-radius: 8px; 
    margin: 5px;
}

#skiResortImg {
    width: 290px;
    border-radius: 8px;
    margin-left: 50px;
    margin-top: 20px;
}

#pokeDex {
    display: none;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.114);
    color: black;
    border-radius: 8px; 
    margin: 5px;
}

#pokeDexImg {
    width: 290px;
    border-radius: 8px;
    margin-left: 50px;
    margin-top: 20px;
}

.confuse {
    margin-top: -10px;
    display: flex;
    justify-content: center;
}

.projectDesc {
    list-style: circle;
    margin-right: 15px;
}

#resumePdf {
  display: none;
  margin-top: 100px;
  position: absolute;
  width: 800px;
  height: 1000px;
}